*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  min-width: 20rem;
  min-height: 100%;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  color: inherit;
}
